/*-----------------------------------*\
  #Made by webdevbalys
\*-----------------------------------*/

/* ROOT */
:root {

    /* colors */
  
    /* Passive Colors */
    --passive-light-blue: hsl(201, 71%, 84%); /* #B7E0FF */
    --passive-light-yellow: hsl(47, 100%, 86%); /* #FFF5CD */
    --passive-light-orange: hsl(25, 100%, 83%); /* #FFCFB3 */
    --passive-light-red: hsl(6, 67%, 69%); /* #E78F81 */

    /* Active Colors */
    --active-light-green: hsl(87, 49%, 71%); /* #B1D690 */
    --active-bright-yellow: hsl(55, 99%, 61%); /* #FEEC37 */
    --active-orange: hsl(29, 100%, 65%); /* #FFA24C */
    --active-bright-pink: hsl(336, 100%, 73%); /* #FF77B7 */

    /* Happy Colors */
    --happy-bright-blue: hsl(188, 97%, 43%); /* #03AED2 */
    --happy-light-blue: hsl(192, 67%, 67%); /* #68D2E8 */
    --happy-bright-yellow: hsl(50, 98%, 67%); /* #FDDE55 */
    --happy-pale-yellow: hsl(53, 97%, 82%); /* #FEEFAD */

    /* New Accent Colors */
    --accent-aquamarine: hsl(174, 36%, 52%); /* #55B7A8 */
    --accent-golden-yellow: hsl(45, 86%, 60%); /* #EBB866 */
    --accent-rosy-red: hsl(3, 63%, 58%); /* #DC504F */
  
    /**
     * typography
     */
  
     --ff-inter: 'Inter', sans-serif;
     --ff-open-sans: 'Open Sans', sans-serif;
     --ff-barlow: 'Barlow', sans-serif;
     --ff-poppins: 'Poppins', sans-serif;
     --ff-pixelify-sans: 'Pixelify Sans', sans-serif;
  
  
    /**
     * shadow
     */
  
    --shadow: 0 -5px 10px var(--grey);
  
    /**
     * transition
     */
  
    --transition-1: 0.05s ease;
    --transition-2: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  
}


/* Basic reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
  }

li { list-style: none; }

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input,
textarea { width: 100%; }

html {
    font-size: 10px;
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--cadet-blue-crayola);
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
}

::-webkit-scrollbar { width: 15px; }
  
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

section {
    background-color: var(--accent-golden-yellow);
}

section:nth-of-type(2n) {
    background-color: var(--accent-aquamarine); /* Replace with your desired background color */
}


/* Reused styles */

.container { padding: 20px; }

section {scroll-margin-top: 70px; }

.container h1, .container h2 {
    font-family: var(--ff-barlow);
    font-size: 24px;
    color: var(--accent-rosy-red);
    font-weight: 700;
}

.container p , .container label{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.logo {
    height: 50px;
    width: auto;
    display: block;
}

.btn {
    color: var(--black);
    font-family: var(--ff-open-sans);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    transition: var(--transition-2);
}

.center-text {
    text-align: center;
    justify-items: center;
}

.btn-primary { background-color: var(--active-orange);}

.btn-primary:is(:hover, :focus) { background-color: var(--active-bright-pink); }

.section-subtitle {
    color: var(--white);
    font-family: var(--ff-poppins);
    font-size: 20px;
    text-align: center;
  }



/* HEADER */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--accent-aquamarine);
    z-index: 1000;
    transition: background 0.3s;
    height: 70px;
}

.header.active {
    background-color: var(--accent-golden-yellow);
    color: #FFF;
}

.header > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar {
    display: none; /* Hidden by default for mobile */
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.navbar.nav-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--accent-rosy-red); /* Background for visibility */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1em 0; /* Adds padding to the dropdown */
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.navbar-link {
    color: #FFF;
    padding: 1em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.nav-toggle-btn {
    display: flex;
    padding: 0px;
    background-color: inherit;
}

ion-icon {
    height: 50px;
    width: 50px;
}

.nav-toggle-btn.active .menu-icon {
    display: none;
}

.nav-toggle-btn .close-icon {
    display: none;
}

.nav-toggle-btn.active .close-icon {
    display: inline-block;
}

/* Back to Top Button */
[data-back-to-top] {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background-color: #333;
    color: #FFF;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    display: none;
    transition: opacity 0.3s;
}

[data-back-to-top].active {
    display: block;
}


/* MAIN */

main {
    margin-top: 70px;
}


/* ABOUT */

.hero-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}


/* GALLERY */

.gallery-container-main {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.gallery-main {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}

.gallery-item {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

/* Navigation Bubbles */
.navigation {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.bubble {
    width: 10px;
    height: 10px;
    background-color: var(--accent-aquamarine);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.bubble.active {
    background-color: var(--accent-rosy-red);
}

/* ADMISSION */
.admission-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

/* CONTACT */

label {
    color: white;
}

button {
    color: white;
    padding: 4px 8px;
    background-color: var(--accent-golden-yellow);
    border-radius: 16px;
}

input , textarea{
    color: var(--white);
    border: 1px solid white;
    border-radius: 8px;
    padding: 4px 8px;
}

iframe {
    border-radius: 20px;
}

.contact-content {
    background-color: var(--accent-aquamarine);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 40px 0px;
}

/* FOOTER */

footer {
    background-color: var(--accent-aquamarine);
    color: white;
}


/* Styles for larger screens */
@media (min-width: 768px) {
    .container {
        padding: 1em 2em;
    }

    .nav-toggle-btn {
        display: none; /* Hide toggle button on larger screens */
    }
    
    .navbar {
        display: flex; /* Show navbar by default on larger screens */
        flex-direction: row;
        position: static;
        background: transparent;
        width: auto;
    }

    .navbar-list {
        flex-direction: row;
        gap: 2em;
    }

    .navbar-link {
        color: inherit;
        padding: 0;
        width: auto;
        text-align: left;
    }
}