<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Balys Leimontas - Experienced Web Developer from Lithuania. Specializing in creating engaging web applications and user-focused solutions. Contact for your next project!">
  <meta name="keywords" content="web developer, Lithuania, web applications, user-focused solutions, freelance, software development, programming, Balys Leimontas">
  <title>Balys Leimontas - Web Developer from Lithuania</title>

  <!-- 
    - favicon
  -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;600&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="">
        <h1 class="logo">Balys</h1>
      </a>

      <button class="nav-toggle-btn" aria-label="Toggle Menu" data-nav-toggle-btn>
        <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
        <ion-icon name="close-outline" class="close-icon"></ion-icon>
      </button>

      <nav class="navbar container">
        <ul class="navbar-list">

          <li>
            <a href="#about" class="navbar-link" data-nav-link><p>01.</p>About</a>
          </li>

          <li>
            <a href="#portfolio" class="navbar-link" data-nav-link><p>02.</p>Portfolio</a>
          </li>

          <li>
            <a href="#skills" class="navbar-link" data-nav-link><p>03.</p>Skills</a>
          </li>

          <li>
            <a href="#contact" class="navbar-link" data-nav-link><p>04.</p>Contact</a>
          </li>

          <li>
            <a href="download-cv" class="btn btn-primary green">Download CV</a>
          </li>

        </ul>
      </nav>

    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
          <canvas></canvas>
          <div class="hero-content">

            <h2 class="hero-title">
              <span>Hi, my name is</span>
              <strong>Balys Leimontas</strong> Turning ideas into reality on the web.
            </h2>

            <p class="hero-text">
              I’m a software engineer dedicated to creating seamless and engaging web applications.
            </p>

            <div class="btn-group">
              <a href="#contact" class="btn btn-primary green">Contact me</a>

              <a href="#about" class="btn">About Me</a>
            </div>

          </div>

      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about">
        <div class="container">

          <figure class="about-banner">

            <img src="./static/images/balys-leimontas.jpg" width="800" height="652" loading="lazy" alt="Balys's Photo 1"
              class="img-cover">

            <div class="abs-icon abs-icon-1">
              <ion-icon name="logo-css3"></ion-icon>
            </div>

            <div class="abs-icon abs-icon-2">
              <ion-icon name="logo-javascript"></ion-icon>
            </div>

            <div class="abs-icon abs-icon-3">
              <ion-icon name="logo-html5"></ion-icon>
            </div>

          </figure>

          <div class="about-content">

            <p class="section-subtitle">I'm a Developer</p>

            <h2 class="h2 section-title">Building Applications That Empower Users</h2>

            <p class="section-text">
              I build web applications that prioritize user experience and performance. 
              My development process focuses on creating scalable and maintainable solutions that stand the test of time.
            </p>

            <p class="section-text">
              Every project I undertake is an opportunity to learn and grow, ensuring I bring fresh ideas and perspectives to the table. 
              Let's connect and see how I can contribute to your next project.
            </p>

            <a href="#portfolio" class="btn btn-primary green">View Portfolio</a>

          </div>

        </div>
      </section>





      <!-- 
        - #PORTFOLIO
      -->

      <section class="section portfolio" id="portfolio">
        <div class="container">

          <p class="section-subtitle">Portfolio</p>

          <h2 class="h2 section-title">My Works so far</h2>

          <p class="section-text">
            Take a look at some of the projects that I've had the pleasure of working on.
          </p>

          <ul class="portfolio-list">

            <li>
              <a href="https://www.upupam.world" class="portfolio-card" style="background-image: url('./static/images/portfolio-1.png')">
                <div class="card-content">

                  <p class="card-subtitle">C2C Fashion website</p>

                  <h3 class="h3 card-title">Web App Platform for Fashion</h3>

                  <span class="btn-link">
                    <span>View Website</span>

                    <ion-icon name="arrow-forward"></ion-icon>
                  </span>

                </div>
              </a>
            </li>

            <li>
              <a href="https://github.com/Balikas4/Trading_strategy_tester" class="portfolio-card" style="background-image: url('./static/images/portfolio-2.jpg')">
                <div class="card-content">

                  <p class="card-subtitle">Python Trade Bot</p>

                  <h3 class="h3 card-title">Python application that makes trades based on couple indicators.</h3>

                  <span class="btn-link">
                    <span>View Project</span>

                    <ion-icon name="arrow-forward"></ion-icon>
                  </span>

                </div>
              </a>
            </li>

            <li>
              <a href="https://www.vaikysteslobiai.lt" class="portfolio-card" style="background-image: url('./static/images/portfolio-3.jpg')">
                <div class="card-content">

                  <p class="card-subtitle">Kindergarten Website</p>

                  <h3 class="h3 card-title">Private Kindergarten website</h3>

                  <span class="btn-link">
                    <span>View Website</span>

                    <ion-icon name="arrow-forward"></ion-icon>
                  </span>

                </div>
              </a>
            </li>

            {% comment %} <li>
              <a href="#" class="portfolio-card" style="background-image: url('./assets/images/portfolio-4.jpg')">
                <div class="card-content">

                  <p class="card-subtitle">Details</p>

                  <h3 class="h3 card-title">Web Application for Desiverse</h3>

                  <span class="btn-link">
                    <span>View Project</span>

                    <ion-icon name="arrow-forward"></ion-icon>
                  </span>

                </div>
              </a>
            </li> {% endcomment %}

          </ul>

        </div>
      </section>





      <!-- 
        - #SKILLS
      -->

      <section class="section skills" id="skills">
        <div class="container">

          <p class="section-subtitle">Skills</p>

          <h2 class="h2 section-title">This is what i use to develop</h2>

          <p class="section-text">
            From concept to deployment, I ensure every project is executed with precision and care. Discover how my skills can help your next project succeed.
          </p>

          <ul class="skills-list">

            <li class="skills-item">
              <div class="wrapper" style="width: 95%">
                <h3 class=" skills-title">Python</h3>

                <data class="skills-data" value="95">95%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 95%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="wrapper" style="width: 75%">
                <h3 class="skills-title">Docker</h3>

                <data class="skills-data" value="75">75%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 75%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="wrapper" style="width: 90%">
                <h3 class="skills-title">Django</h3>

                <data class="skills-data" value="90">90%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 90%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="wrapper" style="width: 70%">
                <h3 class="skills-title">JavaScript</h3>

                <data class="skills-data" value="70">70%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 70%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="wrapper" style="width: 80%">
                <h3 class="skills-title">HTML</h3>

                <data class="skills-data" value="80">80%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 80%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="wrapper" style="width: 75%">
                <h3 class="skills-title">CSS</h3>

                <data class="skills-data" value="75">75%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 75%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="wrapper" style="width: 75%">
                <h3 class=" skills-title">Figma</h3>

                <data class="skills-data" value="75">75%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 75%"></div>
              </div>
            </li>
            
            <li class="skills-item">
              <div class="wrapper" style="width: 60%">
                <h3 class=" skills-title">SQL</h3>

                <data class="skills-data" value="60">60%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 60%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="wrapper" style="width: 70%">
                <h3 class=" skills-title">Linux</h3>

                <data class="skills-data" value="70">70%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 70%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="wrapper" style="width: 50%">
                <h3 class=" skills-title">Nginx</h3>

                <data class="skills-data" value="50">50%</data>
              </div>

              <div class="skills-progress-box">
                <div class="skills-progress" style="width: 50%"></div>
              </div>
            </li>

          </ul>

        </div>
      </section>
      {% comment %} <section class="section price" id="price">
        <div class="container">
          <p class="section-subtitle">Pricing Plans</p>
      
          <h2 class="h2 section-title">Here's how I charge for creating your dream website</h2>
      
          <div class="dual-choice">
            <button id="custom-button" class="btn btn-primary green">Tailored Masterpiece</button>
            <button id="standart-button" class="btn">Website in a Day</button>
          </div>
      
          <div class="prices-container">
            <div id="custom-content" class="container-content active">
              <div class="price-grid">
                <h2>Price</h2>
                <p>Completely flexible—because your vision is unique!</p>
              </div>
              <div class="price-grid">
                <h2>Delivery Time</h2>
                <p>We'll work around your timeline to craft the perfect result.</p>
              </div>
              <div class="price-grid">
                <h2>Tech Stack</h2>
                <p>Cutting-edge and tailored to your needs—no limits, just innovation.</p>
              </div>
            </div>
      
            <div id="standart-content" class="container-content">
              <div class="price-grid">
                <h2>Price</h2>
                <p>100 EUR upfront, with a 10 EUR/month subscription for hosting and security. Simple, fast, and affordable.</p>
              </div>
              <div class="price-grid">
                <h2>Delivery Time</h2>
                <p>Ready in just 1 day! No need to wait for awesome results.</p>
              </div>
              <div class="price-grid">
                <h2>Tech Stack</h2>
                <p>Powered by Python, Django, Docker, JavaScript, and more—modern tech for a modern site!</p>
              </div>
            </div>
          </div>
        </div>
      </section> {% endcomment %}

      <!-- 
        - #CONTACT
      -->

      <section class="section contact" id="contact">
        <div class="container">

          <div class="contact-card">

            <p class="card-subtitle">Contact</p>

            <h2 class="h2 section-title">Drop Me a Line</h2>

            <div class="wrapper">

              <form method="post" action="{% url 'home' %}" class="contact-form">
                {% csrf_token %}
                <div class="contact-input">
                    {{ form.name }}
                </div>
                <div class="contact-input">
                    {{ form.email }}
                </div>
                <div class="contact-input">
                    {{ form.message }}
                </div>
                <button type="submit" class="btn-submit">Submit Message</button>
            </form>

              <ul class="contact-list">

                <li class="contact-item">

                  <div class="contact-icon">
                    <ion-icon name="location"></ion-icon>
                  </div>

                  <div>
                    <h3 class="contact-item-title">Address</h3>

                    <address class="contact-item-link">
                      Vilnius, Lithuania
                    </address>
                  </div>

                </li>

                <li class="contact-item">

                  <div class="contact-icon">
                    <ion-icon name="mail"></ion-icon>
                  </div>

                  <div>
                    <h3 class="contact-item-title">Email</h3>

                    <a href="mailto:balikas4@gmail.com" class="contact-item-link">balikas4@gmail.com</a>
                  </div>

                </li>

                <li class="contact-item">

                  <div class="contact-icon">
                    <ion-icon name="call"></ion-icon>
                  </div>

                  <div>
                    <h3 class="contact-item-title">Phone</h3>

                    <a href="tel:+37067227783" class="contact-item-link">+37067227783</a>
                  </div>

                </li>

              </ul>

            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #BLOG
      -->

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <p class="copyright">
        &copy; 2024 <a href="https://github.com/Balikas4" class="copyright-link">Balikas4</a>. All Rights Reseverd
      </p>

      <ul class="footer-list">
        <li>
          <a href="#" class="footer-link">Terms & Condition</a>
        </li>

        <li>
          <a href="#" class="footer-link">Privacy Policy</a>
        </li>
      </ul>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-to-top" data-back-to-top>BACK TOP</a>





  <!-- 
    - custom js link
  -->
  <script>
    'use strict';
    
    
    
    /**
     * navbar toggle
     */
    
    const header = document.querySelector("[data-header]");
    const navToggleBtn = document.querySelector("[data-nav-toggle-btn]");
    
    navToggleBtn.addEventListener("click", function () {
      header.classList.toggle("nav-active");
      this.classList.toggle("active");
    });
    
    /**
     * toggle the navbar when click any navbar link
     */
    
    const navbarLinks = document.querySelectorAll("[data-nav-link]");
    
    for (let i = 0; i < navbarLinks.length; i++) {
      navbarLinks[i].addEventListener("click", function () {
        header.classList.toggle("nav-active");
        navToggleBtn.classList.toggle("active");
      });
    }
    
    
    
    
    
    /**
     * back to top & header
     */
    
    const backTopBtn = document.querySelector("[data-back-to-top]");
    
    window.addEventListener("scroll", function () {
      if (window.scrollY >= 100) {
        header.classList.add("active");
        backTopBtn.classList.add("active");
      } else {
        header.classList.remove("active");
        backTopBtn.classList.remove("active");
      }
    });
    </script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Initialising the canvas
      var canvas = document.querySelector('canvas'),
          ctx = canvas.getContext('2d');
  
      // Setting the width and height of the canvas
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
  
      // Setting up the letters
      var letters = 'BALIKAS4';
      letters = letters.split('');
  
      // Setting up the columns
      var fontSize = 10,
          columns = canvas.width / fontSize;
  
      // Setting up the drops
      var drops = [];
      for (var i = 0; i < columns; i++) {
        drops[i] = 1;
      }
  
      // Setting up the draw function
      function draw() {
        ctx.fillStyle = 'rgba(0, 0, 0, .1)';
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        for (var i = 0; i < drops.length; i++) {
          var text = letters[Math.floor(Math.random() * letters.length)];
          ctx.fillStyle = '#0f0';
          ctx.fillText(text, i * fontSize, drops[i] * fontSize);
          drops[i]++;
          if (drops[i] * fontSize > canvas.height && Math.random() > .99) {
            drops[i] = 0;
          }
        }
      }
  
      // Loop the animation
      setInterval(draw, 25);
  
      // Resize canvas when window is resized
      window.addEventListener('resize', function() {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        columns = canvas.width / fontSize;
        drops = [];
        for (var i = 0; i < columns; i++) {
          drops[i] = 1;
        }
      });
    });
  </script>
  {% comment %} <script>
    document.addEventListener('DOMContentLoaded', function() {
      const customButton = document.getElementById('custom-button');
      const standartButton = document.getElementById('standart-button');
      const customContent = document.getElementById('custom-content');
      const standartContent = document.getElementById('standart-content');
    
      customButton.addEventListener('click', function() {
        customButton.className = 'btn btn-primary green';
        standartButton.className = 'btn';
        customContent.classList.add('active');
        standartContent.classList.remove('active');
      });
    
      standartButton.addEventListener('click', function() {
        standartButton.className = 'btn btn-primary green';
        customButton.className = 'btn';
        standartContent.classList.add('active');
        customContent.classList.remove('active');
      });
    });    
  </script> {% endcomment %}
</body>
</html>